.accountSettings__container {
  width: 100%;
  margin-top: 35px;
  background-color: #fff;
  padding: 4%;
  border-radius: 10px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .accountSettings__container {
    margin-top: 25px;
  }
}

.accountSettings__container .accountSettings__name {
  width: 100%;
  padding-bottom: 20px;
}

.accountSettings__container .accountSettings__name .accountSettings__nameHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accountSettings__container .accountSettings__name .accountSettings__nameHeader .accountSettings__nameHeaderTitle {
  width: 308px;
  height: 41px;
  font-size: 30px;
  line-height: 41px;
  color: #000000;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .accountSettings__container .accountSettings__name .accountSettings__nameHeader .accountSettings__nameHeaderTitle {
    font-size: 25px;
    width: 50%;
    height: 60px;
    line-height: 30px;
  }
}

.accountSettings__container .accountSettings__name .accountSettings__nameHeader .accountSettings__nameHeaderEdit {
  width: 33px;
  height: 25px;
  font-weight: 600;
  font-size: 18px;
  line-height: 138.9%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ad974f;
}

.accountSettings__container .accountSettings__name .accountSettings__nameContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .accountSettings__container .accountSettings__name .accountSettings__nameContent {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.accountSettings__container .accountSettings__name .accountSettings__nameContent input {
  width: 374.84px;
  height: 56.2px;
  margin-right: 30px;
  padding-left: 25px;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid #000000;
  border-radius: 100px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .accountSettings__container .accountSettings__name .accountSettings__nameContent input {
    margin: 0;
    width: 85%;
    height: 45px;
    margin-bottom: 10px;
  }
}

.accountSettings__container .accountSettings__name .accountSettings__nameContent input::-webkit-input-placeholder {
  color: #000000;
}

.accountSettings__container .accountSettings__name .accountSettings__nameContent input:-ms-input-placeholder {
  color: #000000;
}

.accountSettings__container .accountSettings__name .accountSettings__nameContent input::-ms-input-placeholder {
  color: #000000;
}

.accountSettings__container .accountSettings__name .accountSettings__nameContent input::placeholder {
  color: #000000;
}

.accountSettings__container .accountSettings__name .accountSettings__nameContent input:focus {
  outline: none;
}

.accountSettings__container .accountSettings__gender {
  width: 100%;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.accountSettings__container .accountSettings__gender .accountSettings__genderHeader {
  width: 308px;
  height: 41px;
  font-size: 30px;
  line-height: 41px;
  color: #000000;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .accountSettings__container .accountSettings__gender .accountSettings__genderHeader {
    font-size: 25px;
    line-height: 30px;
    height: 30px;
  }
}

.accountSettings__container .accountSettings__gender .accountSettings__genderContent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
}

.accountSettings__container .accountSettings__gender .accountSettings__genderContent .accountSettings__genderOption1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accountSettings__container .accountSettings__gender .accountSettings__genderContent .accountSettings__genderOption1 input {
  margin-right: 5px;
  width: 13px;
  height: 13px;
}

.accountSettings__container .accountSettings__gender .accountSettings__genderContent .accountSettings__genderOption1 p {
  width: 58px;
  height: 35px;
  font-weight: 500;
  font-size: 25px;
  line-height: 138.9%;
  color: #000000;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .accountSettings__container .accountSettings__gender .accountSettings__genderContent .accountSettings__genderOption1 p {
    font-size: 22px;
  }
}

.accountSettings__container .accountSettings__gender .accountSettings__genderContent .accountSettings__genderOption2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accountSettings__container .accountSettings__gender .accountSettings__genderContent input {
  margin-right: 5px;
  width: 13px;
  height: 13px;
}

.accountSettings__container .accountSettings__gender .accountSettings__genderContent p {
  width: 58px;
  height: 35px;
  font-weight: 500;
  font-size: 25px;
  line-height: 138.9%;
  color: #000000;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .accountSettings__container .accountSettings__gender .accountSettings__genderContent p {
    font-size: 22px;
  }
}

.accountSettings__container .accountSettings__email {
  width: 100%;
  padding-bottom: 20px;
}

.accountSettings__container .accountSettings__email .accountSettings__emailHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accountSettings__container .accountSettings__email .accountSettings__emailHeader .accountSettings__emailHeaderTitle {
  width: 308px;
  height: 41px;
  font-size: 30px;
  line-height: 41px;
  color: #000000;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .accountSettings__container .accountSettings__email .accountSettings__emailHeader .accountSettings__emailHeaderTitle {
    font-size: 25px;
    line-height: 30px;
    height: 30px;
  }
}

.accountSettings__container .accountSettings__email .accountSettings__emailHeader .accountSettings__emailHeaderEdit {
  width: 33px;
  height: 25px;
  font-weight: 600;
  font-size: 18px;
  line-height: 138.9%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ad974f;
}

.accountSettings__container .accountSettings__email .accountSettings__emailInput {
  width: 374.84px;
  height: 56.2px;
  padding-left: 25px;
  margin: 25px 0;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid #000000;
  border-radius: 100px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .accountSettings__container .accountSettings__email .accountSettings__emailInput {
    width: 85%;
    height: 45px;
    margin-left: 7%;
  }
}

.accountSettings__container .accountSettings__email .accountSettings__emailInput::-webkit-input-placeholder {
  color: #000000;
}

.accountSettings__container .accountSettings__email .accountSettings__emailInput:-ms-input-placeholder {
  color: #000000;
}

.accountSettings__container .accountSettings__email .accountSettings__emailInput::-ms-input-placeholder {
  color: #000000;
}

.accountSettings__container .accountSettings__email .accountSettings__emailInput::placeholder {
  color: #000000;
}

.accountSettings__container .accountSettings__email .accountSettings__emailInput:focus {
  outline: none;
}

.accountSettings__container .accountSettings__mobile {
  width: 100%;
  padding-bottom: 20px;
}

.accountSettings__container .accountSettings__mobile .accountSettings__mobileHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accountSettings__container .accountSettings__mobile .accountSettings__mobileHeader .accountSettings__mobileHeaderTitle {
  width: 308px;
  height: 41px;
  font-size: 30px;
  line-height: 41px;
  color: #000000;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .accountSettings__container .accountSettings__mobile .accountSettings__mobileHeader .accountSettings__mobileHeaderTitle {
    font-size: 25px;
    line-height: 30px;
    height: 30px;
  }
}

.accountSettings__container .accountSettings__mobile .accountSettings__mobileHeader .accountSettings__mobileHeaderEdit {
  width: 33px;
  height: 25px;
  font-weight: 600;
  font-size: 18px;
  line-height: 138.9%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ad974f;
}

.accountSettings__container .accountSettings__mobile .accountSettings__mobileInput {
  width: 374.84px;
  height: 56.2px;
  padding-left: 25px;
  margin: 25px 0;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid #000000;
  border-radius: 100px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .accountSettings__container .accountSettings__mobile .accountSettings__mobileInput {
    width: 85%;
    height: 45px;
    margin-left: 7%;
  }
}

.accountSettings__container .accountSettings__mobile .accountSettings__mobileInput::-webkit-input-placeholder {
  color: #000000;
}

.accountSettings__container .accountSettings__mobile .accountSettings__mobileInput:-ms-input-placeholder {
  color: #000000;
}

.accountSettings__container .accountSettings__mobile .accountSettings__mobileInput::-ms-input-placeholder {
  color: #000000;
}

.accountSettings__container .accountSettings__mobile .accountSettings__mobileInput::placeholder {
  color: #000000;
}

.accountSettings__container .accountSettings__mobile .accountSettings__mobileInput:focus {
  outline: none;
}

.accountSettings__container .accountSettings__address {
  width: 100%;
  padding-bottom: 20px;
}

.accountSettings__container .accountSettings__address .accountSettings__addressHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accountSettings__container .accountSettings__address .accountSettings__addressHeader .accountSettings__addressHeaderTitle {
  width: 308px;
  height: 41px;
  font-size: 30px;
  line-height: 41px;
  color: #000000;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .accountSettings__container .accountSettings__address .accountSettings__addressHeader .accountSettings__addressHeaderTitle {
    font-size: 25px;
    line-height: 30px;
    height: 30px;
  }
}

.accountSettings__container .accountSettings__address .accountSettings__addressHeader .accountSettings__addressHeaderEdit {
  width: 33px;
  height: 25px;
  font-weight: 600;
  font-size: 18px;
  line-height: 138.9%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ad974f;
}

.accountSettings__container .accountSettings__address .accountSettings__addressModal .shipping__addressButton {
  cursor: pointer;
  border: 2px solid #000000;
  color: #000000;
}

.accountSettings__container .accountSettings__address .accountSettings__addressModal .shipping__addressButton .shipping__addressIcon {
  color: #000000;
}

.accountSettings__container .accountSettings__address .accountSettings__addressModal .shipping__addressButton input {
  cursor: pointer;
}

.accountSettings__container .accountSettings__address .accountSettings__addressModal .shipping__addressButton input::-webkit-input-placeholder {
  color: #000000;
}

.accountSettings__container .accountSettings__address .accountSettings__addressModal .shipping__addressButton input:-ms-input-placeholder {
  color: #000000;
}

.accountSettings__container .accountSettings__address .accountSettings__addressModal .shipping__addressButton input::-ms-input-placeholder {
  color: #000000;
}

.accountSettings__container .accountSettings__address .accountSettings__addressModal .shipping__addressButton input::placeholder {
  color: #000000;
}

.accountSettings__savedAddContainer {
  width: 100%;
  border: 2px solid #9a9a9a;
  border-radius: 10px;
}

.accountSettings__savedAddContainer .accountSettings__savedAdd {
  width: 100%;
  padding: 3%;
}

.accountSettings__savedAddContainer .accountSettings__savedAdd .accountSettings__savedAddHeader {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accountSettings__savedAddContainer .accountSettings__savedAdd .accountSettings__savedAddHeader .accountSettings__savedAddLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.accountSettings__savedAddContainer .accountSettings__savedAdd .accountSettings__savedAddHeader .accountSettings__savedAddLeft .accountSettings__savedAddType {
  width: 86px;
  height: 28px;
  background: #000000;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.accountSettings__savedAddContainer .accountSettings__savedAdd .accountSettings__savedAddHeader .accountSettings__savedAddLeft .accountSettings__savedAddContact {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 25px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .accountSettings__savedAddContainer .accountSettings__savedAdd .accountSettings__savedAddHeader .accountSettings__savedAddLeft .accountSettings__savedAddContact {
    font-size: 18px;
    width: 75%;
  }
}

.accountSettings__savedAddContainer .accountSettings__savedAdd .accountSettings__savedAddHeader .accountSettings__savedAddLeft .accountSettings__savedAddContact span {
  margin-right: 20px;
}

.accountSettings__savedAddContainer .accountSettings__savedAdd .accountSettings__savedAddHeader .accountSettings__savedAddRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .accountSettings__savedAddContainer .accountSettings__savedAdd .accountSettings__savedAddHeader .accountSettings__savedAddRight {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.accountSettings__savedAddContainer .accountSettings__savedAdd .accountSettings__savedAddHeader .accountSettings__savedAddRight .accountSettings__savedAddEdit {
  width: 113px;
  height: 44px;
  font-weight: 600;
  font-size: 15.6154px;
  line-height: 18px;
  color: #000000;
  background: #ad974f;
  border-radius: 78.0769px;
  border: none;
  margin: 10px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .accountSettings__savedAddContainer .accountSettings__savedAdd .accountSettings__savedAddHeader .accountSettings__savedAddRight .accountSettings__savedAddEdit {
    font-size: 14px;
    height: 40px;
    width: 100px;
  }
}

.accountSettings__savedAddContainer .accountSettings__savedAdd .accountSettings__savedAddHeader .accountSettings__savedAddRight .accountSettings__savedAddDelete {
  width: 113px;
  height: 44px;
  font-weight: 600;
  font-size: 15.6154px;
  line-height: 18px;
  color: #000000;
  border: 2px solid #ad974f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 78.0769px;
  margin: 10px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .accountSettings__savedAddContainer .accountSettings__savedAdd .accountSettings__savedAddHeader .accountSettings__savedAddRight .accountSettings__savedAddDelete {
    font-size: 14px;
    height: 40px;
    width: 100px;
  }
}

.accountSettings__savedAddContainer .accountSettings__savedAdd .accountSettings__savedAddDetails {
  width: 100%;
  font-size: 18px;
  line-height: 130%;
  color: #090909;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .accountSettings__savedAddContainer .accountSettings__savedAdd .accountSettings__savedAddDetails {
    font-size: 15px;
  }
}
/*# sourceMappingURL=AccountSettings.css.map */