.payments {
  width: 100%;
  background-color: #fff;
  padding: 4%;
  border-radius: 10px;
  margin-top: 35px;
}

.payments .payments__header {
  width: 308px;
  height: 41px;
  font-size: 30px;
  line-height: 41px;
  color: #000000;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .payments .payments__header {
    font-size: 25px;
    line-height: 30px;
  }
}

.payments .payments__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  height: 56px;
  border: 2px solid #000000;
  border-radius: 10px;
  margin: 25px 0;
  position: relative;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .payments .payments__content {
    height: 45px;
  }
}

.payments .payments__content .payments__icon {
  margin: 0 10px;
  font-size: 30px;
  z-index: 10;
}

.payments .payments__content .payments__input {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  outline: none;
  padding: 20px;
  padding-left: 50px;
  width: 100%;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
}

.payments .payments__content .payments__input::-webkit-input-placeholder {
  color: #000000;
}

.payments .payments__content .payments__input:-ms-input-placeholder {
  color: #000000;
}

.payments .payments__content .payments__input::-ms-input-placeholder {
  color: #000000;
}

.payments .payments__content .payments__input::placeholder {
  color: #000000;
}

.payments .payments__savedCards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .payments .payments__savedCards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.payments .payments__savedCards .payments__savedCardContent {
  position: relative;
  max-width: 412px;
  width: 100%;
  height: 299px;
  border: 2px solid #dfdfdf;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .payments .payments__savedCards .payments__savedCardContent {
    margin: 5px 0px;
  }
}

.payments .payments__savedCards .payments__savedCardContent .payments__bankLogo {
  position: absolute;
  width: 34.38px;
  height: 34.38px;
  top: 7%;
  left: 7%;
  -o-object-fit: contain;
     object-fit: contain;
}

.payments .payments__savedCards .payments__savedCardContent .payments__bankName {
  position: absolute;
  width: 95.85px;
  height: 23.96px;
  left: 18%;
  top: 9%;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.payments .payments__savedCards .payments__savedCardContent .payments__cardLogo {
  position: absolute;
  width: 64.38px;
  height: 58.38px;
  top: 1%;
  right: 8.5%;
}

.payments .payments__savedCards .payments__savedCardContent .payments__cardType {
  position: absolute;
  width: 67.72px;
  height: 15.63px;
  right: 7%;
  top: 15%;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  color: #000000;
}

.payments .payments__savedCards .payments__savedCardContent .payments__cardNumber {
  position: absolute;
  width: 170.26px;
  height: 19.79px;
  left: 7%;
  top: 35%;
  font-size: 16px;
  line-height: 19px;
  color: #dfdfdd;
}

.payments .payments__savedCards .payments__savedCardContent .payments__cardNumber span {
  font-weight: 600;
  font-size: 20px;
  line-height: 53px;
  color: #000000;
}

.payments .payments__savedCards .payments__savedCardContent .payments__cardName {
  position: absolute;
  width: 170.26px;
  height: 19.79px;
  left: 7%;
  top: 73%;
  font-size: 16px;
  line-height: 19px;
  color: #dfdfdd;
}

.payments .payments__savedCards .payments__savedCardContent .payments__cardName span {
  font-weight: 600;
  font-size: 20px;
  line-height: 53px;
  color: #000000;
}

.payments .payments__savedCards .payments__savedCardContent .payments__cardValidity {
  position: absolute;
  width: 170.26px;
  height: 19.79px;
  left: 76%;
  top: 73%;
  font-size: 16px;
  line-height: 19px;
  color: #dfdfdd;
}

.payments .payments__savedCards .payments__savedCardContent .payments__cardValidity span {
  font-weight: 600;
  font-size: 20px;
  line-height: 53px;
  color: #000000;
}
/*# sourceMappingURL=Payments.css.map */