.homeConcepts {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #231f20;
  min-height: 693px;
  max-height: max-content;
  padding-top: 50px;
  padding-bottom: 50px;
  .homeConcepts__header {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 16%;
    padding-right: 16%;
    h2 {
      width: max-content;
      height: 81px;
      font-family: Prata;
      font-style: normal;
      font-weight: normal;
      font-size: 60px;
      line-height: 81px;
      color: #ffffff;
    }
    .homeConceptImg {
      width: 75.7px;
      height: 60.12px;
      transform: rotate(13.65deg);
      margin-left: 10px;
    }
    .homeConceptsLink {
      text-align: right;
      flex: 1;
      p {
        height: 21px;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-decoration-line: underline;
        color: #ffffff;
      }
    }
  }
  .homeConceptsCard {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .homeConcepts {
    padding-bottom: 30px;
    .homeConcepts__header {
      padding: 0 5%;
      h2 {
        font-size: 35px;
      }
      .homeConceptImg {
        position: absolute;
        width: 55.7px;
        height: 40.12px;
        left: 10%;
        top: -8px;
      }
      .homeConceptsLink {
        text-align: right;
      flex: 1;
        p {
          width: 68px;
          height: 21px;
          left: 72%;
          top: 59px;
          font-size: 18px;
          line-height: 21px;
          z-index: 10;
        }
      }
    }
  }
}
